<section class="container gallery__container">
  <h2 class="gallery">Breathe in the Space</h2>
  <p class="gallery__text">
    Step inside YogaBloom and feel the calm. Explore our serene studio and the
    peaceful moments <br />
    our community shares during each session.
  </p>
  <ul class="gallery__list">
    <li class="gallery__item">
      <picture>
        <source
          srcset="
            ../img/images_gallery/img_x1_gallery_1_min-1024.jpg 1x,
            ../img/images_gallery/img_x1                        2x
          "
          media="(min-width: 1025px)"
          type="image/jpeg"
        />
        <source
          srcset="./*, ./* 2x"
          media="(min-width: 768px)"
          type="image/jpeg"
        />
        <source
          srcset="./*, ./*.jpg 2x"
          media="(max-width: 767px)"
          type="image/jpeg"
        />
        <img src="./* 1x" alt="*" width="*" height="auto" loading="lazy" />
      </picture>
    </li>
    <li class="gallery__item">
      <picture>
        <source
          srcset="
            ../img/images_gallery/img_x1_gallery_2_min-1024.jpg 1x,
            ../img/images_gallery/img_x1                        2x
          "
          media="(min-width: 1025px)"
          type="image/jpeg"
        />
        <source
          srcset="./*, ./* 2x"
          media="(min-width: 768px)"
          type="image/jpeg"
        />
        <source
          srcset="./*, ./*.jpg 2x"
          media="(max-width: 767px)"
          type="image/jpeg"
        />
        <img src="./* 1x" alt="*" width="*" height="auto" loading="lazy" />
      </picture>
    </li>
    <li class="gallery__item">
      <picture>
        <source
          srcset="
            ../img/images_gallery/img_x1_gallery_3_min-1024.jpg 1x,
            ../img/images_gallery/img_x1                        2x
          "
          media="(min-width: 1025px)"
          type="image/jpeg"
        />
        <source
          srcset="./*, ./* 2x"
          media="(min-width: 768px)"
          type="image/jpeg"
        />
        <source
          srcset="./*, ./*.jpg 2x"
          media="(max-width: 767px)"
          type="image/jpeg"
        />
        <img src="./* 1x" alt="*" width="*" height="auto" loading="lazy" />
      </picture>
    </li>
    <li class="gallery__item">
      <picture>
        <source
          srcset="
            ../img/images_gallery/img_x1_gallery_4_min-1024.jpg 1x,
            ../img/images_gallery/img_x1                        2x
          "
          media="(min-width: 1025px)"
          type="image/jpeg"
        />
        <source
          srcset="./*, ./* 2x"
          media="(min-width: 768px)"
          type="image/jpeg"
        />
        <source
          srcset="./*, ./*.jpg 2x"
          media="(max-width: 767px)"
          type="image/jpeg"
        />
        <img src="./* 1x" alt="*" width="*" height="auto" loading="lazy" />
      </picture>
    </li>
    <li class="gallery__item">
      <picture>
        <source
          srcset="
            ../img/images_gallery/img_x1_gallery_5_min-1024.jpg 1x,
            ../img/images_gallery/img_x1                        2x
          "
          media="(min-width: 1025px)"
          type="image/jpeg"
        />
        <source
          srcset="./*, ./* 2x"
          media="(min-width: 768px)"
          type="image/jpeg"
        />
        <source
          srcset="./*, ./*.jpg 2x"
          media="(max-width: 767px)"
          type="image/jpeg"
        />
        <img src="./* 1x" alt="*" width="*" height="auto" loading="lazy" />
      </picture>
    </li>
    <li class="gallery__item">
      <picture>
        <source
          srcset="
            ../img/images_gallery/img_x1_gallery_6_min-1024.jpg 1x,
            ../img/images_gallery/img_x1                        2x
          "
          media="(min-width: 1025px)"
          type="image/jpeg"
        />
        <source
          srcset="./*, ./* 2x"
          media="(min-width: 768px)"
          type="image/jpeg"
        />
        <source
          srcset="./*, ./*.jpg 2x"
          media="(max-width: 767px)"
          type="image/jpeg"
        />
        <img src="./* 1x" alt="*" width="*" height="auto" loading="lazy" />
      </picture>
    </li>
  </ul>
</section>
