<section class="container gallery__container">
  <h2 class="gallery">Breathe in the Space</h2>
  <p class="gallery__text">
    Step inside YogaBloom and feel the calm. Explore our serene studio and the
    peaceful moments<span class="desc"><br /></span> our community shares during
    each session.
  </p>
  <ul class="gallery__list">
    <li class="gallery__item">
      <picture>
        <source
          srcset="
            /img/images_gallery/img_x1_gallery_1_min-1336.jpg 1x,
            /img/images_gallery/img_x2_gallery_1_min-1336.jpg 2x
          "
          media="(min-width: 1336px)"
          type="image/jpeg"
        />
        <source
          srcset="
            /img/images_gallery/img_x1_gallery_1_min-768.jpg 1x,
            /img/images_gallery/img_x2_gallery_1_min-768.jpg 2x
          "
          media="(min-width: 768px)"
          type="image/jpeg"
        />
        <source
          srcset="
            /img/images_gallery/img_x1_gallery_1_max-768.jpg 1x,
            /img/images_gallery/img_x2_gallery_1_max-768.jpg 2x
          "
          media="(max-width: 767px)"
          type="image/jpeg"
        />
        <img
          src="/img/images_gallery/img_x1_gallery_1_max-768.jpg"
          alt="yoga"
          width="*"
          height="auto"
          loading="lazy"
        />
      </picture>
    </li>
    <li class="gallery__item">
      <picture>
        <source
          srcset="
            /img/images_gallery/img_x1_gallery_2_min-1336.jpg 1x,
            /img/images_gallery/img_x2_gallery_2_min-1336.jpg 2x
          "
          media="(min-width: 1336px)"
          type="image/jpeg"
        />
        <source
          srcset="
            /img/images_gallery/img_x1_gallery_2_min-768.jpg 1x,
            /img/images_gallery/img_x2_gallery_2_min-768.jpg 2x
          "
          media="(min-width: 768px)"
          type="image/jpeg"
        />
        <source
          srcset="
            /img/images_gallery/img_x1_gallery_2_max-768.jpg 1x,
            /img/images_gallery/img_x2_gallery_2_max-768.jpg 2x
          "
          media="(max-width: 767px)"
          type="image/jpeg"
        />
        <img
          src="/img/images_gallery/img_x1_gallery_2_max-768.jpg"
          alt="yoga"
          width="*"
          height="auto"
          loading="lazy"
        />
      </picture>
    </li>
    <li class="gallery__item">
      <picture>
        <source
          srcset="
            /img/images_gallery/img_x1_gallery_3_min-1336.jpg 1x,
            /img/images_gallery/img_x2_gallery_3_min-1336.jpg 2x
          "
          media="(min-width: 1336px)"
          type="image/jpeg"
        />
        <source
          srcset="
            /img/images_gallery/img_x1_gallery_3_min-768.jpg 1x,
            /img/images_gallery/img_x2_gallery_3_min-768.jpg 2x
          "
          media="(min-width: 768px)"
          type="image/jpeg"
        />
        <source
          srcset="
            /img/images_gallery/img_x1_gallery_3_max-768.jpg 1x,
            /img/images_gallery/img_x2_gallery_3_max-768.jpg 2x
          "
          media="(max-width: 767px)"
          type="image/jpeg"
        />
        <img
          src="/img/images_gallery/img_x1_gallery_3_max-768.jpg"
          alt="yoga"
          width="*"
          height="auto"
          loading="lazy"
        />
      </picture>
    </li>
    <li class="gallery__item">
      <picture>
        <source
          srcset="
            /img/images_gallery/img_x1_gallery_4_min-1336.jpg 1x,
            /img/images_gallery/img_x2_gallery_4_min-1336.jpg 2x
          "
          media="(min-width: 1336px)"
          type="image/jpeg"
        />
        <source
          srcset="
            /img/images_gallery/img_x1_gallery_4_min-768.jpg 1x,
            /img/images_gallery/img_x2_gallery_4_min-768.jpg 2x
          "
          media="(min-width: 768px)"
          type="image/jpeg"
        />
        <source
          srcset="
            /img/images_gallery/img_x1_gallery_4_max-768.jpg 1x,
            /img/images_gallery/img_x2_gallery_4_max-768.jpg 2x
          "
          media="(max-width: 767px)"
          type="image/jpeg"
        />
        <img
          src="/img/images_gallery/img_x1_gallery_4_max-768.jpg"
          alt="yoga"
          width="*"
          height="auto"
          loading="lazy"
        />
      </picture>
    </li>
    <li class="gallery__item">
      <picture>
        <source
          srcset="
            /img/images_gallery/img_x1_gallery_5_min-1336.jpg 1x,
            /img/images_gallery/img_x2_gallery_5_min-1336.jpg 2x
          "
          media="(min-width: 1336px)"
          type="image/jpeg"
        />
        <source
          srcset="
            /img/images_gallery/img_x1_gallery_5_min-768.jpg 1x,
            /img/images_gallery/img_x2_gallery_5_min-768.jpg 2x
          "
          media="(min-width: 768px)"
          type="image/jpeg"
        />
        <source
          srcset="
            /img/images_gallery/img_x1_gallery_5_max-768.jpg 1x,
            /img/images_gallery/img_x2_gallery_5_max-768.jpg 2x
          "
          media="(max-width: 767px)"
          type="image/jpeg"
        />
        <img
          src="/img/images_gallery/img_x1_gallery_5_max-768.jpg"
          alt="yoga"
          width="*"
          height="auto"
          loading="lazy"
        />
      </picture>
    </li>
    <li class="gallery__item">
      <picture>
        <source
          srcset="
            /img/images_gallery/img_x1_gallery_6_min-1336.jpg 1x,
            /img/images_gallery/img_x2_gallery_6_min-1336.jpg 2x
          "
          media="(min-width: 1336px)"
          type="image/jpeg"
        />
        <source
          srcset="
            /img/images_gallery/img_x1_gallery_6_min-768.jpg 1x,
            /img/images_gallery/img_x2_gallery_6_min-768.jpg 2x
          "
          media="(min-width: 768px)"
          type="image/jpeg"
        />
        <source
          srcset="
            /img/images_gallery/img_x1_gallery_6_max-768.jpg 1x,
            /img/images_gallery/img_x2_gallery_6_max-768.jpg 2x
          "
          media="(max-width: 767px)"
          type="image/jpeg"
        />
        <img
          src="/img/images_gallery/img_x1_gallery_6_max-768.jpg"
          alt="yoga"
          width="*"
          height="auto"
          loading="lazy"
        />
      </picture>
    </li>
  </ul>
</section>
