<section class="container container-features">
  <div class="features-name-wrapper">
    <p class="features-explore">Explore</p>
    <h2 class="section-features-name" id="features">
      Discover Our Most Popular Yoga Programs
    </h2>
    <p class="section-features-text">
      Join our community and elevate your practice with our expertly designed
      yoga programs. Each course is tailored to meet various skill levels and
      personal goals.
    </p>
  </div>
  <ul class="features-list">
    <li class="features-list-item">
      <picture>
        <source
          srcset="
            /img/images_features/beginner-yoga-desk.jpg   1x,
            /img/images_features/beginner-yoga-desk2x.jpg 2x
          "
          media="(min-width:1336px)"
          type="image/jpeg"
        />
        <source
          srcset="
            /img/images_features/beginner-yoga-tab.jpg   1x,
            /img/images_features/beginner-yoga-tab2x.jpg 2x
          "
          media="(min-width:768px)"
        />
        <source
          srcset="
            /img/images_features/beginner-yoga-mob.jpg   1x,
            /img/images_features/beginner-yoga-mob2x.jpg 2x
          "
          media="(max-width:767px)"
        />
        <img
          class="picture"
          src="/img/images_features/beginner-yoga-mob.jpg"
          srcset="
            /img/images_features/beginner-yoga-mob.jpg   1x,
            /img/images_features/beginner-yoga-mob2x.jpg 2x
          "
          alt="beginer-yoga"
          width="343px"
          height="148px"
        />
      </picture>
      <div>
        <h3 class="features-list-title">
          Beginner Yoga: Foundations
          <span class="features-list-title-span">for New Practitioners</span>
        </h3>
        <p class="features-list-text">
          Learn the basics of yoga in a supportive environment.
        </p>
      </div>
    </li>
    <li class="features-list-item">
      <picture>
        <source
          srcset="
            /img/images_features/vinyasa-flow-desk.jpg   1x,
            /img/images_features/vinyasa-flow-desk2x.jpg 2x
          "
          media="(min-width:1336px)"
        />
        <source
          srcset="
            /img/images_features/vinyasa-flow-tab.jpg   1x,
            /img/images_features/vinyasa-flow-tab2x.jpg 2x
          "
          media="(min-width:768px)"
        />
        <source
          srcset="
            /img/images_features/vinyasa-flow-mob.jpg   1x,
            /img/images_features/vinyasa-flow-mob2x.jpg 2x
          "
          media="(max-width:767px)"
        />
        <img
          class="picture"
          src="/img/images_features/vinyasa-flow-mob.jpg"
          srcset="
            /img/images_features/vinyasa-flow-mob.jpg   1x,
            /img/images_features/vinyasa-flow-mob2x.jpg 2x
          "
          alt="vinyasa-flow"
          width="343px"
          height="148px"
        />
      </picture>
      <div>
        <h3 class="features-list-title">
          Vinyasa Flow: Energize Your Body and Mind
        </h3>
        <p class="features-list-text">
          Experience a dynamic sequence that connects breath and movement.
        </p>
      </div>
    </li>
    <li class="features-list-item">
      <picture>
        <source
          srcset="
            /img/images_features/restorative-yoga-desk.jpg   1x,
            /img/images_features/restorative-yoga-desk2x.jpg 2x
          "
          media="(min-width:1336px)"
        />
        <source
          srcset="
            /img/images_features/restorative-yoga-tab.jpg   1x,
            /img/images_features/restorative-yoga-tab2x.jpg 2x
          "
          media="(min-width:768px)"
        />
        <source
          srcset="
            /img/images_features/restorative-yoga-mob.jpg   1x,
            /img/images_features/restorative-yoga-mob2x.jpg 2x
          "
          media="(max-width:767px)"
        />
        <img
          class="picture"
          src="/img/images_features/restorative-yoga-mob.jpg"
          srcset="
            /img/images_features/restorative-yoga-mob.jpg   1x,
            /img/images_features/restorative-yoga-mob2x.jpg 2x
          "
          alt="restorative-yoga"
          width="343px"
          height="148px"
        />
      </picture>
      <div>
        <h3 class="features-list-title">
          Restorative Yoga: Deep Relaxation and Healing
        </h3>
        <p class="features-list-text">
          Unwind and rejuvenate with gentle poses and mindfulness.
        </p>
      </div>
    </li>
  </ul>
  <div class="button-wrapper">
    <button type="button" class="features-button">
      Join <span class="features-span">now</span>
    </button>
  </div>
</section>
