<footer class="footer">
  <div class="container footer-container">
    <div class="footer-subscribe">
      <a href="./index.html">
        <svg class="footer-logo" width="84" height="36">
          <use href="../img/sprite.svg#icon-Company-Logo"></use>
        </svg>
      </a>
      <p class="footer-text-info">
        Subscribe to our newsletter for the latest updates on our yoga courses
        and events.
      </p>
      <label for="">
        <input
          class="footer-email-field"
          name="field-form"
          type="email"
          placeholder="Your email here"
          puttern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})"
        />
      </label>
      <button class="footer-btn" type="submit">Join</button>
      <p class="footer-text-confirm">
        By subscribing, you consent to our Privacy Policy and agree to receive
        updates.
      </p>
    </div>
    <div class="footer-div-links">
      <div class="footer-links">
        <p class="footer-title">Quick Links</p>
        <ul>
          <li class="footer-link-list">
            <a href="#features">Yoga Classes</a>
          </li>
          <li class="footer-link-list">
            <a href="#team">Team</a>
          </li>
          <li class="footer-link-list">
            <a href="#pricing-plans">Pricing</a>
          </li>
          <li class="footer-link-list">
            <a href="#contacts">Contacts</a>
          </li>
        </ul>
      </div>

      <div class="footer-div-social">
        <p class="footer-title" id="contacts">Connect With Us</p>
        <ul>
          <li>
            <a
              class="footer-social-list"
              href="https://www.facebook.com/goITclub"
              target="_blank"
            >
              <svg width="24" height="24">
                <use href="../img/sprite.svg#icon-Facebook"></use>
              </svg>
              <span class="footer-social-text">Facebook</span>
            </a>
          </li>
          <li>
            <a
              class="footer-social-list"
              href="https://www.instagram.com/goitclub/"
              target="_blank"
            >
              <svg width="24" height="24">
                <use href="../img/sprite.svg#icon-instagram"></use>
              </svg>
              <p class="footer-sosial-text">Instagram</p>
            </a>
          </li>
          <li>
            <a
              class="footer-social-list"
              href="https://www.linkedin.com/company/goit-start-your-career-in-it/"
              target="_blank"
            >
              <svg width="24" height="24">
                <use href="../img/sprite.svg#icon-linkedin"></use>
              </svg>
              <p class="footer-sosial-text">LinkedIn</p>
            </a>
          </li>
          <li>
            <a
              class="footer-social-list"
              href="https://www.youtube.com/c/GoIT"
              target="_blank"
            >
              <svg width="24" height="24">
                <use href="../img/sprite.svg#icon-Youtube"></use>
              </svg>
              <p class="footer-sosial-text">YouTube</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer-copyrights">
      <p>&copy; 2025 Yoga Studio. All rights reserved.</p>
    </div>
  </div>
</footer>
