<header class="page-header">
  <div class="container">
    <nav class="header-nav">
      <div class="header-nav-section">
        <ul class="nav-list">
          <li>
            <a href="#hero-banner" class="nav-link current">Yoga Classes</a>
          </li>
          <li><a href="#team" class="nav-link">Team</a></li>
          <li><a href="#testimonials" class="nav-link">Testimonials</a></li>
          <li><a href="#pricing-plans" class="nav-link">Pricing</a></li>
          <li><a href="#footer" class="nav-link">Contacts</a></li>
        </ul>
      </div>
      <div class="header-logo-section">
        <svg class="logo" width="84" height="36">
          <use href="/img/sprite.svg#icon-Company-Logo"></use>
        </svg>
      </div>
      <div class="header-link-section">
        <a href="#pricing-plans" class="join-link">Join Now</a>
      </div>
    </nav>
  </div>
</header>
