<section class="hero">
  <div class="hero-background">
  <!-- 
   <img 
  class="hero-image"
  srcset="./src/img/hero/hero-desk-min.jpg 1x, ./src/img/hero/hero-desk@2x-min.jpg 2x"
  src="./src/img/hero/hero-desk-min.jpg"
  alt="Yoga class background"
  loading="eager">
  -->
  </div>

  <div class="hero-inner">
    <div class="hero-left">
      <h1 class="hero-title">Transform Your Life with Our Yoga Clases</h1>
    </div>
    <div class="hero-right">
      <p class="hero-description">
        Discover the harmony of mind and body through our expertly designed yoga programs. Join a community dedicated to wellness and personal growth.
      </p>
      <div class="hero-buttons">
        <a href="#pricing-plans" class="btn btn-primary">Join<span class="btn-part">Now</span></a>
        <a href="#breathe-in-the-space" class="btn btn-secondary">Learn More</a>
      </div>
    </div>
  </div>
</section>