<section class="pricing-section">
  <div class="container">
    <div class="pricing-title">
      <p>Affordable</p>
      <div class="pricing-title-head">
        <h2 id="pricing-plans">Pricing Plans</h2>
        <p>Choose the perfect plan for your yoga journey.</p>
      </div>
    </div>
    <div class="pricing-content">
      <ul class="pricing-plan">
        <li class="pricing-plan-list">
          <div class="pricing-plan-list-content">
            <p>One Session</p>
            <h3>$10</h3>
          </div>
          <button type="button" class="pricing-plan-button">Join</button>
          <ul class="pricing-plan-advantage">
            <li class="pricing-plan-advantage-list">
              <svg class="icon-check" width="24" height="24">
                <use href="/img/sprite.svg#icon-check"></use>
              </svg>
              1 group session
            </li>
            <li class="pricing-plan-advantage-list">
              <svg class="icon-check" width="24" height="24">
                <use href="/img/sprite.svg#icon-check"></use>
              </svg>
              10% discount for next 2 Sessions
            </li>
            <li class="pricing-plan-advantage-list">
              <svg class="icon-check" width="24" height="24">
                <use href="/img/sprite.svg#icon-check"></use>
              </svg>
              Community support group
            </li>
          </ul>
        </li>
        <li class="pricing-plan-list">
          <div class="pricing-plan-list-content">
            <p>8 Session Package</p>
            <h3>$65</h3>
          </div>
          <button type="button" class="pricing-plan-button">Join</button>
          <ul class="pricing-plan-advantage">
            <li class="pricing-plan-advantage-list">
              <svg class="icon-check" width="24" height="24">
                <use href="/img/sprite.svg#icon-check"></use>
              </svg>
              6 Group Sessions
            </li>
            <li class="pricing-plan-advantage-list">
              <svg class="icon-check" width="24" height="24">
                <use href="/img/sprite.svg#icon-check"></use>
              </svg>
              2 Individual Sessions
            </li>
            <li class="pricing-plan-advantage-list">
              <svg class="icon-check" width="24" height="24">
                <use href="/img/sprite.svg#icon-check"></use>
              </svg>
              Community support group
            </li>
          </ul>
        </li>
        <li class="pricing-plan-list card-three">
          <div class="pricing-plan-list-content card-three-leftpart">
            <p>12 Sessions Package</p>
            <h3>$80</h3>
          </div>
          <button type="button" class="pricing-plan-button card-three-button">
            Join
          </button>
          <ul class="pricing-plan-advantage card-three-rightpart">
            <li class="pricing-plan-advantage-list card-three-advantage-list">
              <svg class="icon-check" width="24" height="24">
                <use href="/img/sprite.svg#icon-check"></use>
              </svg>
              8 Group Sessions
            </li>
            <li class="pricing-plan-advantage-list card-three-advantage-list">
              <svg class="icon-check" width="24" height="24">
                <use href="/img/sprite.svg#icon-check"></use>
              </svg>
              4 Individual Sessions
            </li>
            <li class="pricing-plan-advantage-list card-three-advantage-list">
              <svg class="icon-check" width="24" height="24">
                <use href="/img/sprite.svg#icon-check"></use>
              </svg>
              Monthly yoga challenges
            </li>
            <li class="pricing-plan-advantage-list card-three-advantage-list">
              <svg class="icon-check" width="24" height="24">
                <use href="/img/sprite.svg#icon-check"></use>
              </svg>
              Exclusive member discounts
            </li>
            <li class="pricing-plan-advantage-list">
              <svg class="icon-check" width="24" height="24">
                <use href="/img/sprite.svg#icon-check"></use>
              </svg>
              Community support group
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</section>
