<section class="team-section" id="team">
  <div class="team-container">
    <h2 class="section-title"><span class="section-title-accent">Meet </span>Our Team</h2>
    <p class="section-team-description">Dedicated professionals passionate about yoga and wellness.</p>
    
    <ul class="team-list">
      
      <li class="team-member">
        <picture>
          <source
            media="(max-width:767px)"
            srcset="
              ./img/team-section/team-member-mobile-1.png 1x,
              ./img/team-section/team-member-mobile-1@2x.png 2x
            "
          />
          <source
            media="(min-width:768px) and (max-width:1157px)"
            srcset="
              ./img/team-section/team-member-tablet-1.png 1x,
              ./img/team-section/team-member-tablet-1@2x.png 2x
            "
          />
          <source
            media="(min-width:1158px)"
            srcset="
              ./img/team-section/team-member-desktop-1.png 1x,
              ./img/team-section/team-member-desktop-1@2x.png 2x
            "
          />

          <img
            class="member-img"
            src="./img/team-section/team-member-mobile-1.png"
            srcset="
              ./img/team-section/team-member-mobile-1.png 1x,
              ./img/team-section/team-member-mobile-1@2x.png 2x
            "
            alt="member-one"
          />
        </picture>
          <h3 class="team-member-name">Liam Johnson</h3>
          <p class="team-member-position">Yoga Instructor</p>
          <p class="team-member-experience">Emma has over 10 years of experience in Hatha and Vinyasa yoga.</p>
          
          <ul class="social-list">
            
            <li class="social-list-item">
              <a href="https://www.linkedin.com/" target="_blank" class="social-link">
              <svg class="social-list-item-svg" width="18" height="18">
                <use href="./img/sprite.svg#icon-linkedin"></use>
              </svg>  
              </a>
            </li>
            
            <li class="social-list-item">
              <a href="https://www.instagram.com/" target="_blank" class="social-link">
                <svg class="social-list-item-svg" width="18" height="18">
                  <use href="./img/sprite.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
          
          </ul>
      </li>
      
      <li class="team-member">
        <picture>
          <source
            media="(max-width:767px)"
            srcset="
              ./img/team-section/team-member-mobile-2.png 1x,
              ./img/team-section/team-member-mobile-2@2x.png 2x
            "
          />
          <source
            media="(min-width:768px) and (max-width:1157px)"
            srcset="
              ./img/team-section/team-member-tablet-2.png 1x,
              ./img/team-section/team-member-tablet-2@2x.png 2x
            "
          />
          <source
            media="(min-width:1158px)"
            srcset="
              ./img/team-section/team-member-desktop-2.png 1x,
              ./img/team-section/team-member-desktop-2@2x.png 2x
            "
          />

          <img
            class="member-img"
            src="./img/team-section/team-member-mobile-2.png"
            srcset="
              ./img/team-section/team-member-mobile-2.png 1x,
              ./img/team-section/team-member-mobile-2@2x.png 2x
            "
            alt="member-two"
          />
        </picture>
        
          <h3 class="team-member-name">Emma Stone</h3>
          <p class="team-member-position">Meditation Coach</p>
          <p class="team-member-experience">
            Liam specializes in mindfulness and stress reduction techniques
            through guided meditation.
          </p>
          
          <ul class="social-list">
            
            <li class="social-list-item">
              <a href="https://www.linkedin.com/" target="_blank" class="social-link">
                <svg class="social-list-item-svg" width="18" height="18">
                  <use href="./img/sprite.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          
          </ul>
      </li>
      
      <li class="team-member">
        <picture>
          <source
            media="(max-width:767px)"
            srcset="
              ./img/team-section/team-member-mobile-3.png 1x,
              ./img/team-section/team-member-mobile-3@2x.png 2x
            "
          />
          <source
            media="(min-width:768px) and (max-width:1157px)"
            srcset="
              ./img/team-section/team-member-tablet-3.png 1x,
              ./img/team-section/team-member-tablet-3@2x.png 2x
            "
          />
          <source
            media="(min-width:1158px)"
            srcset="
              ./img/team-section/team-member-desktop-3.png 1x,
              ./img/team-section/team-member-desktop-3@2x.png 2x
            "
          />

          <img
            class="member-img"
            src="./img/team-section/team-member-mobile-3.png"
            srcset="
              ./img/team-section/team-member-mobile-3.png 1x,
              ./img/team-section/team-member-mobile-3@2x.png 2x
            "
            alt="member-three"
          />
        </picture>
        
          <h3 class="team-member-name">Sophia Lee</h3>
          <p class="team-member-position">Pilates Trainer</p>
          <p class="team-member-experience">
            Sophia combines Pilates with yoga for a holistic fitness approach.
          </p>
          
          <ul class="social-list">
            
            <li class="social-list-item">
              <a href="https://www.instagram.com/" target="_blank" class="social-link">
                <svg class="social-list-item-svg" width="18" height="18">
                  <use href="./img/sprite.svg#icon-instagram"></use>
                </svg>
              </a>
            
            </li>
          </ul>
      </li>
      
      <li class="team-member">
        <picture>
          <source
            media="(max-width:767px)"
            srcset="
              ./img/team-section/team-member-mobile-4.png 1x,
              ./img/team-section/team-member-mobile-4@2x.png 2x
            "
          />
          <source
            media="(min-width:768px) and (max-width:1157px)"
            srcset="
              ./img/team-section/team-member-tablet-4.png 1x,
              ./img/team-section/team-member-tablet-4@2x.png 2x
            "
          />
          <source
            media="(min-width:1158px)"
            srcset="
              ./img/team-section/team-member-desktop-4.png 1x,
              ./img/team-section/team-member-desktop-4@2x.png 2x
            "
          />

          <img
            class="member-img"
            src="./img/team-section/team-member-mobile-4.png"
            srcset="
              ./img/team-section/team-member-mobile-4.png 1x,
              ./img/team-section/team-member-mobile-4@2x.png 2x
            "
            alt="member-four"
          />
        </picture>
        
          <h3 class="team-member-name">Noah Brown</h3>
          <p class="team-member-position">Yoga Therapist</p>
          <p class="team-member-experience">
            Noah focuses on therapeutic yoga to aid recovery and enhance
            well-being.
          </p>
          
          <ul class="social-list">
            
            <li class="social-list-item">
              <a href="https://www.linkedin.com/" target="_blank" class="social-link">
                <svg class="social-list-item-svg" width="18" height="18">
                  <use href="./img/sprite.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          
          </ul>
      </li>
      
      <li class="team-member">
        <picture>
          <source
            media="(max-width:767px)"
            srcset="
              ./img/team-section/team-member-mobile-5.png 1x,
              ./img/team-section/team-member-mobile-5@2x.png 2x
            "
          />
          <source
            media="(min-width:768px) and (max-width:1157px)"
            srcset="
              ./img/team-section/team-member-tablet-5.png 1x,
              ./img/team-section/team-member-tablet-5@2x.png 2x
            "
          />
          <source
            media="(min-width:1158px)"
            srcset="
              ./img/team-section/team-member-desktop-5.png 1x,
              ./img/team-section/team-member-desktop-5@2x.png 2x
            "
          />

          <img
            class="member-img"
            src="./img/team-section/team-member-mobile-5.png"
            srcset="
              ./img/team-section/team-member-mobile-5.png 1x,
              ./img/team-section/team-member-mobile-5@2x.png 2x
            "
            alt="member-five"
          />
        </picture>
        
          <h3 class="team-member-name">Ava Green</h3>
          <p class="team-member-position">Fitness Trainer</p>
          <p class="team-member-experience">
            Ava integrates strength training with yoga to promote overall fitness.
          </p>
          
          <ul class="social-list">
            
            <li class="social-list-item">
              <a href="https://www.facebook.com/" target="_blank" target="_blank" class="social-link">
                <svg class="social-list-item-svg" width="24" height="24">
                  <use href="./img/sprite.svg#icon-Facebook"></use>
                </svg>
              </a>
              </li>
              
            <li class="social-list-item">
                <a href="https://www.instagram.com/" target="_blank" class="social-link">
                  <svg class="social-list-item-svg" width="18" height="18">
                    <use href="./img/sprite.svg#icon-instagram"></use>
                  </svg>
                </a>
            </li>

            <li class="social-list-item">
                <a href="https://www.linkedin.com/" target="_blank" class="social-link">
                  <svg class="social-list-item-svg" width="18" height="18">
                    <use href="./img/sprite.svg#icon-linkedin"></use>
                  </svg>
                </a>
            </li>
          
          </ul>
      </li>
      
      <li class="team-member">
        <picture>
          <source
            media="(max-width:767px)"
            srcset="
              ./img/team-section/team-member-mobile-6.png 1x,
              ./img/team-section/team-member-mobile-6@2x.png 2x
            "
          />
          <source
            media="(min-width:768px) and (max-width:1157px)"
            srcset="
              ./img/team-section/team-member-tablet-6.png 1x,
              ./img/team-section/team-member-tablet-6@2x.png 2x
            "
          />
          <source
            media="(min-width:1158px)"
            srcset="
              ./img/team-section/team-member-desktop-6.png 1x,
              ./img/team-section/team-member-desktop-6@2x.png 2x
            "
          />

          <img
            class="member-img"
            src="./img/team-section/team-member-mobile-6.png"
            srcset="
              ./img/team-section/team-member-mobile-6.png 1x,
              ./img/team-section/team-member-mobile-6@2x.png 2x
            "
            alt="member-two"
          />
        </picture>
        
          <h3 class="team-member-name">Clark Thomas</h3>
          <p class="team-member-position">Fitness Trainer</p>
          <p class="team-member-experience">
            Clark specializes in mindfulness and stress reduction techniques
            through guided meditation.
          </p>
          
          <ul class="social-list">
            
            <li class="social-list-item">
              <a href="https://www.facebook.com/" target="_blank" class="social-link">
                <svg class="social-list-item-svg" width="24" height="24">
                  <use href="./img/sprite.svg#icon-Facebook"></use>
                </svg>
              </a>
               </li> 
            
            <li class="social-list-item">
                <a href="https://www.instagram.com/" target="_blank" class="social-link">
                  <svg class="social-list-item-svg" width="18" height="18">
                    <use href="./img/sprite.svg#icon-instagram"></use>
                  </svg>
                </a>
            </li>

          </ul>
      </li>
    </ul>
  </div>
</section>
