<section class="why-yoga-help-section">
  <div class="container">
    <h2 class="title-why-yoga-help">Why Yoga Helps You</h2>
    <p class="text-yoga-help">
      Four science-backed reasons to start your journey today
    </p>
    <ul class="item-list-yoga-help">
      <li class="text-list-why-yoga-help">
        <h3 class="headline-why-yoga-help">1. Reduces Stress & Anxiety</h3>
        <p class="item-text-yoga-help">
          Regular yoga practice lowers cortisol levels and calms the nervous
          system — helping you feel more grounded, focused, and emotionally
          balanced.
        </p>
      </li>
      <li class="text-list-why-yoga-help">
        <h3 class="headline-why-yoga-help">2. Builds Strength & Flexibility</h3>
        <p class="item-text-yoga-help">
          Yoga gently tones your body while increasing mobility and posture
          awareness — without strain or pressure. Great for beginners and
          experienced movers a like.
        </p>
      </li>
      <li class="text-list-why-yoga-help">
        <h3 class="headline-why-yoga-help">3. Improves Sleep & Energy</h3>
        <p class="item-text-yoga-help">
          Mindful movement and breathing techniques improve sleep quality and
          leave you feeling more refreshed, focused, and energized throughout
          the day.
        </p>
      </li>
      <li class="text-list-why-yoga-help">
        <h3 class="headline-why-yoga-help">4. Boosts Mental Clarity & Focus</h3>
        <p class="item-text-yoga-help">
          Yoga encourages present-moment awareness. Through mindful movement and
          breathwork, it sharpens concentration, improves memory, and clears
          mental fog.
        </p>
      </li>
    </ul>
    <a href="#partials/pricing-plans.html">
      <span class="btn-yoga-help">Join</span>
      <span class="btn-yoga-help-tab">Join now</span></a
    >
  </div>
</section>
