.gallery__container {
  padding: 112px 64px;
  border: purple solid 3px;
}

.gallery {
  font-family: 'Cabin', sans-serif;
  font-weight: 400;
  font-size: 52px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  text-align: center;
  color: #0d0b0a;
  margin-bottom: 80px;
}

.gallery__text {
  font-family: 'Sarabun', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.6;
  text-align: center;
  color: #0d0b0a;
  margin-bottom: 80px;
}

.gallery__list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.gallery__item {
  width: calc((100% - 48px) / 3);
}
